#hero {
    min-height: calc(100vh - 80px);
    padding: 0 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url("imgs/hero.png");
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translate(0);
    }
}

#hero-content {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

#hero-title {
    font-size: clamp(2.1rem, 5vw, 4rem);
    text-wrap: balance;
    letter-spacing: 1px;
    opacity: 0;
    transform: translateY(7rem);
    animation: fadeIn 0.7s 0.3s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hero-para {
    color: var(--text-muted);
    font-size: clamp(12px, 3vw, 18px);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.3px;
    line-height: 1.5;
    opacity: 0;
    transform: translateY(2rem);
    animation: fadeIn 0.7s 0.6s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#hero-btn {
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    width: clamp(150px, 30vw, 280px);
    color: var(--text-primary);
    font-weight: 600;
    font-size: 1.05rem;
    white-space: nowrap;
    letter-spacing: 0.8px;
    padding: 1rem;
    margin-top: 2rem;
    align-self: center;
    background-color: var(--green);
    transition: 0.2s;
    opacity: 0;
    transform: translateY(2rem);
    animation: fadeIn 0.7s 0.9s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#hero-btn:active {
    scale: 0.93;
}

#hero-btn:hover {
    background-color: var(--green-darker);
}

@media (max-width: 768px) {
    #hero {
        min-height: 90vh;
        padding: 0 6%;
        justify-content: flex-end;
        background-position: center;
    }

    #hero-content {
        text-align: center;
        max-width: 100%;
        padding-bottom: 4rem;
    }
}

section {
    padding: clamp(1.5rem, 6vw, 5rem) clamp(1rem, 8vw, 6rem);
}

.section-group {
    color: var(--text-primary);
    text-align: center;
}

.section-group.animated {
    transition-delay: 0.3s !important;
}

.section-title {
    font-size: clamp(24px, 6vw, 48px);
}

.section-subtitle {
    font-size: clamp(14px, 3vw, 18px);
    color: var(--text-muted);
    margin: 0.3rem 0 2rem 0;
}

#brand-elem-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.4rem;
}

.brand-elem {
    color: var(--text-primary);
    padding: 1.3rem;
    background-color: var(--bg-black-2);
    border-radius: 10px;
    box-shadow: var(--shadow);
    transition: 0.2s ease-in-out;
}

.brand-elem:hover {
    scale: 1.02;
    background-color: #323232;
}

.brand-title {
    font-size: clamp(1.2rem, 3vw, 2rem);
}

.brand-desc {
    margin-top: 0.3rem;
    font-size: 14px;
    color: var(--text-muted);
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.2px;
}

.location {
    margin-top: 0.4rem;
    font-weight: 600;
}

#maps-link {
    display: block;
    margin-top: 0.3rem;
    color: var(--green);
    text-underline-offset: 2.5px;
    font-weight: 600;
}

.brand-icon {
    width: 60px;
}

#contatos-link {
    color: var(--green);
    text-underline-offset: 2.5px;
    font-weight: 600;
}

#ver-mais-container {
    margin-top: 2rem;
}

#ver-mais-btns {
    margin-top: 1.25rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

#ver-mais-btns a {
    text-align: center;
    text-decoration: none;
    width: 50%;
    max-width: 400px;
}